{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <form class="card" method="post" action="/members">
        <section class="avatar"></section>
        <section class="details">
            <h1>
                NOvo instrutor
            </h1>
            {% include 'members/fields.njk' %}
        </section>
    </form>
{% endblock content %}