<div class="item">
    <div>Avatar URL</div>
    <div><input type="url" name="avatar_url" placeholder="https://" value="{{member.avatar_url}}"></div>
</div>
<div class="item">
    <div>Nome</div>
    <div><input type="text" name="name" value="{{member.name}}"></div>
</div>
<div class="item">
    <div>Email</div>
    <div><input type="email" name="email" value="{{member.email}}"></div>
</div>
<div class="item">
    <div>Data de nascimento</div>
    <div><input type="date" name="birth" placeholder="" value="{{member.birth}}"></div>
</div>
<div class="item">
    <div>Sexo</div>
    <span><input type="radio" name="gender" value="F" {% if member.gender == 'F' %} checked="checked" {% endif %}>Feminino
    </span>
    <span><input type="radio" name="gender" value="M" {% if member.gender == 'M' %} checked="checked" {% endif %}>Masculino</span>

</div>
<div class="item">
    <div>Tipo sanguíneo</div>
    <select name="blood">
        <option name="A+" {% if member.blood == "A+" %} selected {% endif %}>A+</option>
        <option name="A-" {% if member.blood == "A0" %} selected {% endif %}>A-</option>
        <option name="B+" {% if member.blood == "B+" %} selected {% endif %}>B+</option>
        <option name="B-" {% if member.blood == "B0" %} selected {% endif %}>B-</option>
        <option name="AB+" {% if member.blood == "AB+" %} selected {% endif %}>AB+</option>
        <option name="AB-" {% if member.blood == "AB-" %} selected {% endif %}>AB-</option>
        <option name="O+" {% if member.blood == "O+" %} selected {% endif %}>O+</option>
        <option name="O-" {% if member.blood == "O-" %} selected {% endif %}>O-</option>
    </select>
</div>
<div class="item">
    <div>Peso (em kg)</div>
    <div>
        <input type="number" name="weight" value="{{member.weight}}"></div>
</div>
<div class="item">
    <div>Altura (em cm)</div>
    <div>
        <input type="number" name="height" value="{{member.height}}"></div>
</div>
<div class="item">
    <div>Modalidade esportiva</div>
    <select name="sport">
        <option value="natacao" {% if member.sport == "natacao" %} selected {% endif %}>Natação</option>
        <option value="musculacao" {% if member.sport == "musculacao" %} selected {% endif %}>Musculação</option>
        <option value="powerlifting" {% if member.sport == "powerlifting" %} selected {% endif %}>Powerlifting</option>
        <option value="yoga" {% if member.sport == "yoga" %} selected {% endif %}>Yoga</option>
        <option value="capoeira" {% if member.sport == "capoeira" %} selected {% endif %}>Capoeira</option>
    </select>
</div>
<button type="submit">Salvar</button>