<div class="item">
    <div>Avatar URL</div>
    <div><input type="url" name="avatar_url" placeholder="https://" value="{{member.avatar_url}}"></div>
</div>
<div class="item">
    <div>Instrutor</div>
    <div><input type="text" name="name" placeholder="Nome do instrutor" value="{{member.name}}"></div>
</div>
<div class="item">
    <div>Data de nascimento</div>
    <div><input type="date" name="birth" placeholder="" value="{{member.birth}}"></div>
</div>
<div class="item">
    <div>Sexo</div>
    <span><input type="radio" name="gender" value="F" {% if member.gender == 'F' %}
    checked
    {% endif %}>Feminino </span>
    <span><input type="radio" name="gender" value="M" {% if member.gender == 'M' %}
    checked
    {% endif %}>Masculino</span>

</div>
<div class="item">
    <div>Área de atuação</div>
    <div>
        <input type="text" name="services" placeholder="Envie as áreas separadas por vírgula" value="{{member.services}}"></div>
</div>
<button type="submit">Salvar</button>
