{% extends 'layout.njk' %}

{% block content %}
    <div id="wrapper">
        <img src="https://avatars3.githubusercontent.com/u/62123441?s=460&u=db85e93c15d1a28a20fb7766a1cf77d9533e3908&v=4" alt="Breno Silva">
        <h1>
            {{ data.name }}</h1>
        <h2>{{ data.role }}</h2>
        <p>{{ data.description }}
        </p>
    </div>

    <div class="links space">
        {% for link in data.links %}
            <a href="{{ link.url }}">
                {{ link.name }}</a>
        {% endfor %}
    </div>

{% endblock content %}