<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/main.css">

        {% block styles %}{% endblock styles %}

        {% block title %}
            <title>Gym Manager</title>
        {% endblock title %}

    </head>
    <body>
        <header>
            <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>

            <div class="options">
                <a href="/">Instrutores</a>
                <a href="/members">Members</a>
            </div>

            {# hamburguer-menu #}
            <div class="menu-section">
                <div class="menu-toggle">
                    <div class="one"></div> 
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
                <nav>
                    <ul>
                        <a href="/">PÁGINA INICIAL</a>
                        <li>
                            <a href="/members">Members</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %}{% endblock content %}

        <footer>
            <p>Todos direitos reservados, Gym manager.
            </p>
        </footer>

        {% block modal %}{% endblock modal %}

        {% block scripts %}{% endblock scripts %}

    </body>
</html>