{% block content %}
    <form class="card" method="post" action="/instructors">
        <section class="avatar"></section>
        <section class="details">
            <h1>
                Novo instrutor
            </h1>

            {% endfor %}
            
            <button type="submit">Salvar</button>
        </section>
    </form>
{% endblock content %}