{% extends 'layout.njk' %}

{% block styles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/portfolio.css">
{% endblock styles %}

{% block title %}
    <title>Foodfy</title>
{% endblock title %}

{% block content %}

    <div id="wrapper">
        <h1>Portfolio</h1>

    </div>

    <section class="cards">

        {% for item in items %}
            <div class="card" id="{{ item.id}}">
                <div class="card_image-container {{ 'featured-wrapper' if item.featured }} ">
                    <img src="https://img.youtube.com/vi/{{ item.id}}/maxresdefault.jpg" alt="Imagem de {{ item.tittle}}">
                    {% if item.featured %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>

                <div class="card_content">
                    <p>{{ item.tittle}}</p>
                </div>

                <div class="card_info">
                    <p>{{ item.duration}}</p>
                    <p class="card_price">{{ item.price}}</p>
                </div>
            </div>
        {% endfor %}

    </section>

    <div class="modal-overlay hide">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="https://youtube.com/embed/Ab33948mbW8" frameborder="0"></iframe>
            </div>
        </div>
    {% endblock content %}

    {% block script %}
        <script src="scripts/classes.js"></script>
    {% endblock script %}