{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/portfolio.css">
    <link rel="stylesheet" href="styles/video.css">
{% endblock styles %}

{% block title %}
    <title>{{ item.tittle}}</title>
{% endblock title %}

{% block content %}

    <div id="wrapper" class="video  ">
        <h1>{{ item.tittle}}</h1>

    </div>

    <section class="video">

        <div class="card" id="{{ item.id}}">
            <div class="card_video-container">
                <iframe src="https://youtube.com/embed/{{ item.id}}" frameborder="0"></iframe>
            </div>

            <div class="card_content">
                <p>{{ item.tittle}}</p>
            </div>

            <div class="card_info">
                <p>{{ item.duration}}</p>
                <p class="card_price">{{ item.price}}</p>
            </div>
        </div>

    </section>

{% endblock content %}