.card {
    min-width: 600px;
    width: 70%;

    margin: 3em auto;
    background: #FFFFFF;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    box-shadow: 0 1.25em 1.9em 0 rgba(0, 0, 0, 0.15);
    opacity: 0;
    animation: 800ms ease 400ms forwards up;
    color: var(--text-color);
}

@keyframes up {
    from {
        
        transform: translateY(20px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

.avatar  {
    background-position: center;
    background-size: cover;
}

.details {
    padding: 2em;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em 0;
}

.details .item:last-child {
    border: none;
}


.details .item div:nth-child(1) {
    color: var(--desc-color);
    font-size: 1.4rem;
    letter-spacing: 0.05em;
}

.details .item div:nth-child(2) {
    color: var(--font-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.details h1 {
    text-transform: uppercase;
}

.item span {
    padding: 0.5em 1em;
    background: var(--yellow-button);
    border-radius: 1em;
    margin: 0.5em 0.25em 0 0;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
}

input, 
select {
    width: 100%;
    border: 0;
    outline: none;

    color: var(--font-color);
    font-size: 1.6rem;
    font-weight: 500;
}

select {
    padding: 0.5em;
    border-radius: 0.5em;
}

input[type="radio"] {
    width: initial;
    margin-right: 0.5em;
}

input::placeholder {
    color: var(--desc-color);
    font-size: 1.4rem;
    font-weight: 300;
}

button[type="submit"],
a.button,
button[type="submit"]:nth-child(2),
.item span {
    box-shadow: 0 1.25em 1.9em 0 rgba(0, 0, 0, 0.15);
}




button[type="submit"],
a.button,
header a {
    padding: 0.5em 2em;
    background: var(--primary-color);
    border-radius: 0.25em;
    margin-top: 2em;
    /* width: 100%; */
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.4rem;
}

button[type="submit"]:nth-child(2) {
    margin-top: 0.5em;
    background: var(--delete-button);
}

td a {
    text-transform: uppercase;
}

a.button {
    text-align: center;
    display: block;
}

.table-container {
    display: block;
    padding: 3em;
}

table {
    width: 100%;
}

.table-container th,
.table-container td {
    padding: 1em 0;
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
}

.table-container td:last-child {
    border: 0;
}

.table-container td a {
    margin: auto 0;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    align-items: center;
}

th {
    color: var(--desc-color);
}

tbody tr td:first-child span {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;    
    border: 2px solid var(--yellow-button);
}

th:last-child,
td:last-child {
    text-align: center;
}

tbody tr {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 2em;
}

header a {
    margin: 0;
}

header form {
    display: flex;
    align-items: center;
}

header input {
    border: 1px solid var(--desc-color);
    margin-right: 0.5em;
    font-size: 1.3rem;
    padding: 0.5em;
    width: 60%;
}

header button {
    display: inline;
    margin: 0 !important;
}