.card {
    min-width: 600px;
    width: 60%;
    min-height: 600px;
    margin: 3em auto;
    background: #FFFFFF;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: 800ms ease 400ms forwards up;
}

@keyframes up {
    from {
        
        transform: translateY(20px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

.avatar {
    background: url('https://source.unsplash.com/collection/10552289/900x900') no-repeat center center / cover;
}

.form {
    color: var(--text-color);
    padding: 4em 2em;
}

.form h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

.form .item {
    padding: 1em 0;
}

.form .item div:nth-child(1) {
    font-size: 1.2rem;
    color: var(--desc-color);
    letter-spacing: 0.7px;
    line-height: 2em;
}

.form .item div:nth-child(2) {
    font-size: 1.8rem;
    font-weight: 500;
    background: var(--button-color);
    color: var(-button-text-color);

    padding: 1em;
    border-radius: 8px;
}

.form .item span {
    padding: 0.5em 2em;
    font-size: 1.4rem;
    background: var(--yellow-button);
    border-radius: 1em;
}

.form .item:nth-child(4) div:nth-child(2) {
    background: none;
}

.form .item span + span {
    margin-left: 10px;
}