@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet';

:root {    
    --primary-color: #3a5ca0;
    --text-color: #1F2F49;
    --button-color: #f7f5ff;
    --button-text-color: #747df8;
    --desc-color: #777777;
    --yellow-button: #FFC190;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 1.2em;
    font-family: 'Montserrat', sans-serif;

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background: var(--primary-color);
    color: #ffffff;
}

header {
    padding: 1.6em;
    /* width: 100%; */
    max-width: 1200px;    
    margin: 0 auto;
}

nav {
    display: none;
}

footer {
    margin-top: auto;
    padding: 4em 0;
    width: 100%;
    border-top: 1px solid var(--text-color);
    background: rgba(0, 0, 0, 0.4);

    font-size: 1.4rem;    

    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    font-size: 2rem;
    position: relative;
    color: #a7a7a7;
}

.links a + a {
    margin-left: 2.5em;
}

.links a.active {
    font-weight: bold;
    color: #ffffff;
}

.links a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--primary-color);

    position: absolute;
    bottom: -4px;
    left: 0;
}

.links a:hover::after {
    width: 100%;
    transition: 200ms ease;
}

