@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet')

:root {
    --color-green: #78d1fd;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 1.2em;
}

header {
    margin-bottom: 30px;
    padding: 32px;
}

footer {
    margin-top: auto;

    width: 100%;

    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: none;
}