.video {
    max-width: 960px;
    margin: 0 auto 50px;
}

.video .card_info {
    font-size: 20px;
    color: #eeeeee;
}


.video .card_content {
    /* margin: 10px 0; */
    font-size: 30px;
    text-align: center;
    color: #eeeeee;
    font-weight: bold;
}

.card_video-container {
    position: relative;
    padding-top: 62.5%;
}

.card_video-container iframe {
    top: 0;
    height: 100%;
}

#wrapper h1 {
    font-size: 52px;
}