{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <form class="card" method="post" action="/instructors">
        <section class="avatar"></section>
        <section class="details">
            <h1>
               Editar instrutor
            </h1>

            {% include 'instructors/fields.njk' %}
            
        </section>
    </form>
{% endblock content %}