{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>
        <section class="details">
            <form method="post" action="/instructors?_method=PUT">
                <h1>
                    Editar instrutor
                </h1>

                {% include 'instructors/fields.njk' %}
                <input type="hidden" name="id" value="{{ instructor.id}}">
            </form>

            <form method="post" action="/instructors?_method=DELETE">
                <input type="hidden" name="id" value="{{ instructor.id}}">
                <button type="submit">Delete</button>
            </form>
        </section>

    </div>
{% endblock content %}