{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>
        <section class="details">
            <h1>
                Ficha técnica
            </h1>
            <div class="item">
                <div>Instrutor</div>
                <div>Breno Silva</div>
            </div>  
            <div class="item">
                <div>Sexo</div>
                <div class='button'>Masculino</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Musculação</span>
                    <span>Crossfit</span></div>
            </div>
            <div class="item">
                <div>Data de início</div>
                <div>25/11/1998</div>
            </div>
        </section>
    </div>
{% endblock content %}