{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <div class="card table-container">
        <table >
            <thead>
                <tr>
                    <th>Instrutor</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <td>
                            {{ instructor.name }}
                        </td>
                        <td>
                            {{ instructor.services }}
                        </td>
                        <td><a href="/instructors/{{instructor.id}}" class="button">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}