{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <div class="card table-container">
        <header>
            <a href="/members/create">Novo membro</a>
            <form action="/members" method="GET">
                <input type="text" name="filter" placeholder="Filtrar por nome" value="{{ filter }}">
                <button type="submit">Filtrar</button>
            </form>
        </header>
        <table >
            <thead>
                <tr>
                    <th>Membro</th>
                    <th>Email</th>
                    <th>Peso</th>
                    <th>Altura</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ member.avatar_url}})"></span>
                            {{ member.name }}
                        </td>
                        <td>
                            {{ member.email}}
                        </td>
                        <td>
                            {{ member.weight}}
                        </td>
                        <td>
                            {{ member.height}}
                        </td>
                        <td>
                            <a href="/members/{{member.id}}" class="button">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination" data-page={{pagination.page} }="}" data-total={{pagination.total} data-filter={{filter}></div>
    </div>
{% endblock content %}