{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background-image: url({{ member.avatar_url }})"></section>
        <section class="details">
            <h1>
                Ficha técnica
            </h1>
            <div class="item">
                <div>Membro</div>
                <div>{{ member.name }}</div>
            </div>
            <div class="item">
                <div>Email</div>
                <div>{{ member.email }}</div>
            </div>
            <div class="item">
                <div>Data de aniversário</div>
                <div class='button'>{{ member.birth }}</div>
            </div>
            <div class="item">
                <div>Sexo</div>
                <div class='button'>{{ "Feminino" if member.gender == 'F' else "Masculino"}}</div>
            </div>
            <div class="item">
                <div>Tipo sanguíneo</div>
                <div>{{ member.blood }}</div>
            </div>
            <div class="item">
                <div>Peso (em kg)</div>
                <div>{{ member.weight }}</div>
            </div>
            <div class="item">
                <div>Altura (em cm)</div>
                <div>{{ member.height }}</div>
            </div>
            <a href="/members/{{ member.id }}/edit" class="button">Edit</a>
        </section>
    </div>
{% endblock content %}